.sidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 110px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 1000;
}

.sidebarLogo {
  padding-top: 20px;
}

.sidebarMenu,
.sidebarButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebarButtons {
  gap: 15px;
}

.sidebarMenu {
  height: 90%;
}

.sidebarButton {
  background-color: #ffffff;
}

.loginButton {
  padding-bottom: 20px;
  background-color: #ffffff;
}

.sideBarOpen_close {
  position: fixed;
  top: 50%;
  left: 110px;
  transform: translateY(-50%);
  width: 45px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.12);
  border: none;
  outline: none;
  z-index: 1000;
}

.sideBarOpen_close img {
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
}

.sideBarOpen_close.moved {
  left: 510px;
}
