.sidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 110px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 1000;
}

.sidebarLogo {
  padding-top: 20px;
}

.sidebarMenu,
.sidebarButtons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebarButtons {
  gap: 15px;
}

.sidebarMenu {
  height: 90%;
}

.searchButton,
.favouriteButton {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.searchButton:hover,
.favouriteButton:hover {
  border: 3px solid #c4c4c4;
  transition: all 0.1s ease-out;
}

.searchButtonImg,
.favouriteButtonImg {
  fill: #ffffff;
}

.searchButton.on,
.favouriteButton.on {
  background-color: #ffffff;
  border: 3px solid #c4c4c4;
}

.searchButton {
  background-color: #5e7bc7;
}

.searchButtonImg {
  width: 22px;
  height: 22px;
}

.on .searchButtonImg {
  fill: #5e7bc7;
}

.on.searchButton:hover {
  border: 3px solid #5e7bc7;
}

.favouriteButton {
  background: #c75e5e;
}

.favouriteButtonImg {
  width: 18px;
  height: 24px;
}

.on .favouriteButtonImg {
  width: 18px;
  height: 24px;
  fill: #c75e5e;
}

.on.favouriteButton:hover {
  border: 3px solid #c75e5e;
}

.loginButton {
  padding-bottom: 20px;
  background-color: #ffffff;
}

.sideBarOpen_close {
  position: fixed;
  top: 50%;
  left: 110px;
  transform: translateY(-50%);
  width: 45px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.12);
  border: none;
  outline: none;
  z-index: 1001;
}

.sideBarOpen_close img {
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
}

.sideBarOpen_close.moved {
  left: 510px;
}

@media (max-width: 770px) {
  .sidebarContainer {
    width: 70px;
  }

  .searchButton,
  .favouriteButton {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  .sideBarOpen_close {
    left: 70px;
    width: 28px;
    height: 60px;
  }

  .sideBarOpen_close.moved {
    left: 370px;
  }

  .loginButton img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 375px) {
  .sidebarContainer {
    width: 60px;
  }

  .sideBarOpen_close {
    display: none;
  }

  .sideBarOpen_close.moved {
    display: none;
  }
}
