@import url("/src/assets/fonts/Mont/stylesheet.css");

#root {
  display: flex;
}

body {
  font-family: Mont, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}