.favouriteInfoBarContainer {
  position: fixed;
  top: 0;
  left: 110px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  background-color: #ffffff;
  border-left: 3px solid #cecece;
  box-shadow: 8px 0px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 1000;
  font-size: 20px;
  font-weight: 800;
  padding: 25px 25px 25px 20px;
  overflow-y: auto;
}

.favouriteInfoBarText {
  margin-bottom: 15px;
}

.favoriteCard {
  width: 350px;
  max-height: auto;
  border: 3px solid #c4c4c4;
  border-radius: 10px;
  padding: 20px 30px 20px 20px;
  margin-bottom: 25px;
}

.favoriteBlock {
  display: flex;
  align-self: center;
  margin-bottom: 10px;
}

.favoriteImg {
  border: none;
  margin-right: 10px;
}

.favoriteImg img {
  width: 120px;
  border-radius: 10px;
}

.favoriteName {
  font-family: Mont;
  font-size: 16px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: Mont;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
}

.favoriteButtons {
  display: flex;
  justify-content: space-between;
}

.favoriteButtons a {
  height: 20px;
}

.favoriteButton {
  fill: #c75e5e;
}

.removeFavoriteButton {
  background-color: #ffffff;
}

.removeFavoriteButtonImg {
  fill: #c75e5e;
}

.removeFavoriteButtonImg:hover {
  fill: #c4c4c4;
  transition: all 0.3s ease-out;
}

.goToButton {
  background-color: #ffffff;
}

.noPlaces {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

@media (max-width: 770px) {
  .favouriteInfoBarContainer {
    left: 70px;
    width: 300px;
    font-size: 18px;
  }

  .favoriteCard {
    width: 250px;
    padding: 15px 20px 15px 15px;
  }

  .favoriteImg img {
    width: 90px;
  }

  .favoriteName {
    font-size: 14px;
    font-weight: 700;
    display: block;
    overflow: hidden;
  }

  .noPlaces {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .favouriteInfoBarContainer {
    left: 60px;
    width: 260px;
    padding: 10px 5px 25px 5px;
  }

  .favoriteCard {
    width: 240px;
    padding: 15px 5px 5px 10px;
  }

  .favoriteButtons a {
    margin: 0px 5px 5px 5px;
  }
}
